
.box {
    max-width: 400px;
    height: 45rem;
    margin: auto;
    padding: 0.5em;
    border: 1px solid #ccc;
    border-radius: 5px;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
    background-image: linear-gradient(rgb(91, 199, 91),rgb(223, 223, 38));
}

.box h2 {
    text-align: center;
    margin-bottom: 1em;
}

.box-main {
    display: flex;
    flex-direction: column;
}

.box-main div {
    margin-bottom: 1em;
}

.box-main label {
    display: block;
    margin-bottom: 2rem;
    font-size: large;
    margin-bottom: 0.5em;
}

.box-main input {
    width: 83%;
    padding: 0.5em;
    border: 1px solid #ccc;
    border-radius: 40px;
}

.box-main button {
    width: 50%;
    margin-top: 2rem;
    margin-left: 5.5rem;
    padding: 0.75em;
    background-color: #28a745;
    color: white;
    border: none;
    border-radius: 25px;
    cursor: pointer;
}

.box-main button:hover {
    background-color: #218838;
}
